* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
}

.box {
  background-color: hsla(0, 50%, 100%, 0.5);
  width: 500px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  h2 {
    padding-bottom: 15px;
  }

  p {
    text-align: center;
  }
}
